@import "variable.styl"

body, html
  line-height: 1
  font-family: 'poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: #333
