@import "./reset.styl"
@import "./base.styl"
@import "./icon.styl"
@import "./mixin.styl"


.ant-tabs-bar {
  border-bottom none

  .ant-tabs-tab {
    margin: 0 10px 0 0
  }
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
  border-color: #2a62ff;

  a {
    color: white
  }
}

.ant-pagination-item-ellipsis {
  color: #2a62ff
}

.ant-pagination-item-active {
  border-color: #2a62ff;
  color: white
  background: linear-gradient(0deg, #2a62ff, #4e7dff);
  box-shadow: 0 5px 6px 0 rgba(73, 105, 230, .22);

  a {
    color: white

    &:hover {
      color: white
    }
  }
}
